<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.csci5115_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="One-Click Ordering"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="One-Click Ordering"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PurchaseHistoryPage"
            android:label="Purchase History" />
        <activity
            android:name=".Accounts_Page"
            android:label="Payment Accounts" />
        <activity android:name=".Login" />
        <activity
            android:name=".Restaurant_Page"
            android:label="Restaurants"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddNewCreditCard" />
        <activity android:name=".Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrderActivity"
            android:label="create_order"
            android:parentActivityName=".Menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu" />
        </activity>
        <activity android:name=".PopUpActivity"></activity>
    </application>

</manifest>